@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;

  .content {
    z-index: 2;
    text-align: center;
    padding-top: 60px;
  }
  
  .title {
    font-size: 70px;
    font-weight: 900;
    color: #f8eaff;
    letter-spacing: 5px;
    margin: 0;
    font-family: "tan-pearl";
  }
  
  .subtitle {
    font-size: 16px;
    letter-spacing: 10px;
    color: #caa8ff;
    margin-bottom: 40px;
  }
  
  .platform {
    width: 500px;
    height: 30vh;
    margin: 0 auto;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    transform: perspective(1000px) rotateX(60deg);
    animation: floatPlatform 4s ease-in-out infinite alternate;
  }
  
  // 👇 Add the keyframes
  @keyframes floatPlatform {
    0% {
      transform: perspective(1000px) rotateX(60deg) translateY(0px);
    }
    100% {
      transform: perspective(2000px) rotateX(90deg) translateY(-30px);
    }
  }

  .curve {
    position: absolute;
    width: 220px;
    z-index: 1;
    pointer-events: none;
  }
  
  .curve-left {
    width: 400px;
    top: 100px;
    left: -200px;
    transform: rotate(10deg);
    
  }
  
  .curve-right {
    width: 400px;
    top: 100px;
    right: -200px;
    transform: rotate(110deg);
  }
  
  .studio-button {
    background: transparent;
    border: 1px solid #caa8ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    &-link{
      text-decoration: none;
      color: inherit;
    }
  }


