@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.content {
  z-index: 2;
  text-align: center;
  margin-top: 60px;
  padding-top: 60px;

  // @include tablet {
  //   text-align: center;
  //   padding-top: 60px;
  // }

  .home__title {

    padding: 40px;
    font-size: 12px;
    font-weight: 600;

    @include tablet {
      font-size: 20px;
      font-weight: 600;
    }

  }

  .title {

    font-size: 18px;
    font-weight: 900;

    color: #f8eaff;
    letter-spacing: 5px;
    font-family: "tan-pearl";
    margin: 0 15px 25px 15px;

    @include tablet {
      font-size: 50px;
      font-weight: 900;
      margin: 0;
    }
  }

  .subtitle {

    color: #caa8ff;

    font-size: 10px;
    letter-spacing: 5px;
    margin: 30px 15px 15px 15px;

    @include tablet {
      margin-bottom: 40px;
      font-size: 16px;
      letter-spacing: 10px;
    }
  }


}


.curve {


  position: absolute;
  width: 200px;
  z-index: 1;
  pointer-events: none;

  @include tablet {
    width: 220px;
  }


  &-left {
  
    width: 140px;
    top: 100px;
    left: -75px;
    transform: rotate(-10deg);

    @include tablet {
      width: 400px;
      top: 100px;
      left: -200px;
      transform: rotate(10deg);
    
    }
  }

  &-right {
    width: 140px;
    top: 100px;
    right: -75px;
    transform: rotate(120deg);

    @include tablet {
      width: 400px;
    top: 100px;
    right: -200px;
    transform: rotate(110deg);
      
    }
  }
}

.studio-button {
  background: transparent;
  border: 1px solid #caa8ff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 10px;
  letter-spacing: 1px;
  cursor: pointer;

  @include tablet {
    font-size: 14px;
  }

  &-link {
    text-decoration: none;
    color: inherit;
  }


}