
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #000000 40%, #8c4fff, #e89cff);
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow: hidden;
  position: relative;
}
  
  
  .light {
    background-color: #c7a49d88;
    color: #151bb9;
  }
  .dark {
    background-color: #053374;
    color: #f0f0f0;
  }
  nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
  }
  