* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: auto;
  overflow-y: auto;
}

.light {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #7ec6e2 40%, #9fcead, #e89cff);
    font-family: 'Poppins', sans-serif;
    color: rgb(1, 9, 65);
    overflow: hidden;
    position: relative;
    
  }
  .dark {
    margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #000000 40%, #8c4fff, #e89cff);
  font-family: 'Poppins', sans-serif;
  color: rgba(192, 188, 197, 0.962);
  overflow: hidden;
  position: relative;
  }
  nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
  }
  