@use "./variables.scss" as *;


// mixins.scss

@mixin font-family($family) {
  font-family: $family, sans-serif;
}



@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}


@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin transition($properties, $duration, $ease) {
  transition: $properties $duration $ease;
}

@mixin background($color) {
  background-color: $color;
}
