@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Arimo:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.abeezee-regular {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  @font-face {
    font-family: "Beauty Swing";
    src: url("../../assets/fonts/Beauty\ Swing\ Personal\ Use\ Only.ttf") format("woff");
    font-weight: 400;
}


@font-face {
  font-family: "Safira March";
  src: url("../../assets/fonts/Safira\ March\ Personal\ Use\ Only.ttf") format("woff");
  font-weight: 100;
}