// variables.scss

// Primary colors
$background: #FEF4F4;
$buttons: #E9ECFA;
$button: #0166E1;
$white: white;
$black: black;

// Secondary colors
$violet: #a498c3;
$green: #28a745;
$blue: #0056b3;
$red: red;

// Screen sizes
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
$breakpoint-mobile: 320px;

// Spacing & typography
$font-size-small: 0.7rem;
$font-size-medium: 1rem;
$font-size-large: 2.5rem;

$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2.5rem;

$button-radius: 50px;
$card-border-radius: 0.1rem;
