@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.About {
	text-align: justify;
	font-size: 18px;
	padding: 0 5rem 5rem;

	&-title {
		font-size: 3rem;
		font-weight: bold;
		text-align: center;

		@include desktop{
		  font-size: 20px;
		}

		&__about {
			color: #f8eaff;
			font-family: "tan-pearl";

			//   @include mobile {
			//     font-size: 8px;
			//   }
		}

		&__me {
			color: #caa8ff;
		}
	}

	&-title_container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;
		margin-bottom: 2rem;

		&-avatar {
			width: 20%;
			border-radius: 50%;


		}
		&-text {
			text-align: center;
			@include tablet {
				font-size: 20px;
			  }
		}
	}
}