@use "./styles/partials/global" as *;

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; // Header, Content, Footer
  
  .app__content {
    grid-row: 2;
  }
  
  header {
    grid-row: 1;
  }
  
  footer {
    grid-row: 3;
  }
}