@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;

.Project__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2.5rem;
 

  @include tablet {
    padding: 5rem 1rem 2rem 1rem;
  }
}

.Project__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  padding-bottom: 3rem;
  max-width: 800px;
  @include transition(transform, 0.2s, ease);

  &:hover {
    transform: translateY(-5px);
  }

  &--image {
    width: 5em;
  }

  &--title {
    font-size: 12px;
    padding-top: 10px;
    font-weight: bold;
    color: #f8eaff;
    text-align: center;
    text-decoration: none;
  }
}

@include tablet {
  .Project__item {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    width: 20%;
    padding: 1rem;

    &--image {
      margin-bottom: 1rem;
width:50%;
    }

    &--title {
      font-size: 16px;
      text-decoration: none;
    }

  }
}