@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;

.Project {
	text-align: center;
	font-size: 10px;

	&__title {
		font-size: 25px;
		font-weight: bold;
		text-align: center;
		margin: 1rem;
		letter-spacing: 2px;
		@include tablet {
			font-size: 40px;
			margin: 1rem;

		}

		&--my {
			@include font-family("tan-pearl");
		}

		&--projects {
			color: var(--accent-color);
		}
	}
	
}
