@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;

.Project {
	color: #d9e8e7;
	text-align: center;
	font-size: 10px;

	&__title {
		font-size: 3rem;
		font-weight: bold;
		text-align: center;

		&--explore {
			color: #f8eaff;
			@include font-family("tan-pearl");
		}

		&--myproject {
			color: #caa8ff;
		}
	}
	
}

